@charset "utf-8";
/* CSS Document */
#menubody
{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
    margin-top:50px;
    width:960px;
}
#above
{
        background-color:blue;
	color:white;
	width:880px;
	height:35px;
	margin-left:auto;
	margin-right:auto;
	border:solid;
	border-width:thin;
	border-color:black;
	top:0px;
	position:relative;
	float:left;
	margin-top:0px;
	margin-bottom:5px;
}
#nhpbox
{
	background-color:black;
	width:220px;
	height:150px;
	position:relative;
	float:left;
	border:solid;
	border-width:thin;
	border-color:black;
}
#menubox
{
	width:660px;
	height:150px;
	position:relative;
	float:left;
	border:solid;
	border-width:thin;
	border-color:black;
}
#menubar li
{
	list-style:none;
	display:inline;
}
.menuitem
{
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:20px;
	font-style:normal;
	font-weight:bold;
}
#nhp_new
{
	flush:right;
}
#nhp_holland
{
	flush:right;
}
#nhp_press
{
	flush:left
}
#picturebox
{
	border:solid;
	border-width:thin;
	border-color:black;
	width:440px;
	height:300px;
	clear:both;
}
.nhphead 
{
	font-size:30pt;
	color:white;
	font-style:italic;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif
}
#contentblock
{
	width:880px;
	height:auto;
	position:relative;
	float:left;
	border:solid;
	border-width:thin;
	border-color:black;
}
#footerblock
{
        width:880px;
        height:100px;
	color:white;
	background-color:black;
        position:relative;
        float:left;
        border:solid;
        border-width:thin;
        border-color:black;
}
#blank_footer
{
        width:880px;
        height:40px;
	color:black;
	background-color:white;
        position:relative;
        float:left;
        border:solid;
        border-width:thin;
        border-color:white;
}
